<mat-card class="quick-actions-card">
  <mat-card-header>
    <mat-card-title>Quick Actions</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div class="actions-grid">
      <button 
        *ngFor="let action of quickActions"
        mat-raised-button 
        [color]="action.color"
        class="action-button"
        (click)="executeAction(action)">
        <mat-icon>{{ action.icon }}</mat-icon>
        <span>{{ action.label }}</span>
      </button>
    </div>
  </mat-card-content>
</mat-card>